.tab-shinec-sector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 364px;
    margin: 24px auto 0 auto;
    padding-left: 22px;
    padding-right: 22px;
    gap: 0;
    margin-top: 60px;
}

.shinec-sector-box {
    flex: 0 0 25%;
    width: 100%;
    max-width: 128px;
    height: 128px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #F6F6F6;
    border-radius: 18px;
    box-shadow: 0 2px 8px #0001;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.shinec-sector-box:nth-child(n+3) {
    margin-top: 20px;
}

.content-shinec-1 {
    width: 128px;
    height: 65px;
    color: #000;
    text-align: justify;
    font-family: "SF Pro Regular", sans-serif !important;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;
}

.content-shinec-2 {
    width: 128px;
    height: 65px;
    color: #000;
    text-align: justify;
    font-family: "SF Pro Regular", sans-serif !important;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;
}

.content-shinec-3 {
    width: 128px;
    height: 65px;
    color: #000;
    text-align: justify;
    font-family: "SF Pro Regular", sans-serif !important;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;
}

.content-shinec-4 {
    width: 128px;
    height: 65px;
    color: #000;
    text-align: justify;
    font-family: "SF Pro Regular", sans-serif !important;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;
}