.skills-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.skills-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 450px;
  margin: 20px auto;
}

.skills-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 371px;
  z-index: 0;
}

.skills-diagram {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.center-skill {
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #22C55E;
    color: white;
    font-weight: bold;
    font-size: 10px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    z-index: 2;
    box-shadow: 0 4px 10px #EEF6EF(0, 0, 0, );
    /* Thêm viền ngoài */
    box-shadow:
        0 0 0 10px rgba(34, 197, 94, 0.3),
        0 4px 10px rgba(0, 0, 0, 0.1);
    
}

.skill-item {
  position: absolute;
  width: 20%;
  padding: 12px;
  background: white;
  border: 2px solid #3670C7;
  border-radius: 10px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #3670C7;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 1;
  transform: translateX(-50%);
}

.top-left { top: 30px; left: 60px; }
.mid-left { top: 135px; left: 60px; }
.bottom-left { bottom: 100px; left: 60px; }

.top-right { top: 30px; left: calc(100% - 60px); }
.mid-right { top: 135px; left: calc(100% - 60px); }
.bottom-right { bottom: 100px; left: calc(100% - 60px); }



      